In [95]:
import pandas as pd
import numpy as np
import string
import itertools
import time

In [155]:
raw_wordle_words = pd.read_csv('Word Data/wordle_words.csv')
wordle_words = raw_wordle_words.copy()
wordle_words

       word       count
0     about  1226734006
1     other   978481319
2     which   810514085
3     their   782849411
4     there   701170205
...     ...         ...
8749  sevak       12751
8750  maist       12738
8751  hully       12736
8752  intil       12721
8753  toits       12716

[8754 rows x 2 columns]

In [138]:
letters = ["G", "Y", "N"]
possible_results = itertools.product(letters, repeat=5)
possible_results = [''.join(seq) for seq in possible_results]
possible_results

['GGGGG',
 'GGGGY',
 'GGGGN',
 'GGGYG',
 'GGGYY',
 'GGGYN',
 'GGGNG',
 'GGGNY',
 'GGGNN',
 'GGYGG',
 'GGYGY',
 'GGYGN',
 'GGYYG',
 'GGYYY',
 'GGYYN',
 'GGYNG',
 'GGYNY',
 'GGYNN',
 'GGNGG',
 'GGNGY',
 'GGNGN',
 'GGNYG',
 'GGNYY',
 'GGNYN',
 'GGNNG',
 'GGNNY',
 'GGNNN',
 'GYGGG',
 'GYGGY',
 'GYGGN',
 'GYGYG',
 'GYGYY',
 'GYGYN',
 'GYGNG',
 'GYGNY',
 'GYGNN',
 'GYYGG',
 'GYYGY',
 'GYYGN',
 'GYYYG',
 'GYYYY',
 'GYYYN',
 'GYYNG',
 'GYYNY',
 'GYYNN',
 'GYNGG',
 'GYNGY',
 'GYNGN',
 'GYNYG',
 'GYNYY',
 'GYNYN',
 'GYNNG',
 'GYNNY',
 'GYNNN',
 'GNGGG',
 'GNGGY',
 'GNGGN',
 'GNGYG',
 'GNGYY',
 'GNGYN',
 'GNGNG',
 'GNGNY',
 'GNGNN',
 'GNYGG',
 'GNYGY',
 'GNYGN',
 'GNYYG',
 'GNYYY',
 'GNYYN',
 'GNYNG',
 'GNYNY',
 'GNYNN',
 'GNNGG',
 'GNNGY',
 'GNNGN',
 'GNNYG',
 'GNNYY',
 'GNNYN',
 'GNNNG',
 'GNNNY',
 'GNNNN',
 'YGGGG',
 'YGGGY',
 'YGGGN',
 'YGGYG',
 'YGGYY',
 'YGGYN',
 'YGGNG',
 'YGGNY',
 'YGGNN',
 'YGYGG',
 'YGYGY',
 'YGYGN',
 'YGYYG',
 'YGYYY',
 'YGYYN',
 'YGYNG',
 'YGYNY',
 'YGYNN',
 'YGNGG',
 'YGNGY',
 'YGNGN',
 'YGNYG',
 'YGNYY',
 'YGNYN',
 'YGNNG',
 'YGNNY',
 'YGNNN',
 'YYGGG',
 'YYGGY',
 'YYGGN',
 'YYGYG',
 'YYGYY',
 'YYGYN',
 'YYGNG',
 'YYGNY',
 'YYGNN',
 'YYYGG',
 'YYYGY',
 'YYYGN',
 'YYYYG',
 'YYYYY',
 'YYYYN',
 'YYYNG',
 'YYYNY',
 'YYYNN',
 'YYNGG',
 'YYNGY',
 'YYNGN',
 'YYNYG',
 'YYNYY',
 'YYNYN',
 'YYNNG',
 'YYNNY',
 'YYNNN',
 'YNGGG',
 'YNGGY',
 'YNGGN',
 'YNGYG',
 'YNGYY',
 'YNGYN',
 'YNGNG',
 'YNGNY',
 'YNGNN',
 'YNYGG',
 'YNYGY',
 'YNYGN',
 'YNYYG',
 'YNYYY',
 'YNYYN',
 'YNYNG',
 'YNYNY',
 'YNYNN',
 'YNNGG',
 'YNNGY',
 'YNNGN',
 'YNNYG',
 'YNNYY',
 'YNNYN',
 'YNNNG',
 'YNNNY',
 'YNNNN',
 'NGGGG',
 'NGGGY',
 'NGGGN',
 'NGGYG',
 'NGGYY',
 'NGGYN',
 'NGGNG',
 'NGGNY',
 'NGGNN',
 'NGYGG',
 'NGYGY',
 'NGYGN',
 'NGYYG',
 'NGYYY',
 'NGYYN',
 'NGYNG',
 'NGYNY',
 'NGYNN',
 'NGNGG',
 'NGNGY',
 'NGNGN',
 'NGNYG',
 'NGNYY',
 'NGNYN',
 'NGNNG',
 'NGNNY',
 'NGNNN',
 'NYGGG',
 'NYGGY',
 'NYGGN',
 'NYGYG',
 'NYGYY',
 'NYGYN',
 'NYGNG',
 'NYGNY',
 'NYGNN',
 'NYYGG',
 'NYYGY',
 'NYYGN',
 'NYYYG',
 'NYYYY',
 'NYYYN',
 'NYYNG',
 'NYYNY',
 'NYYNN',
 'NYNGG',
 'NYNGY',
 'NYNGN',
 'NYNYG',
 'NYNYY',
 'NYNYN',
 'NYNNG',
 'NYNNY',
 'NYNNN',
 'NNGGG',
 'NNGGY',
 'NNGGN',
 'NNGYG',
 'NNGYY',
 'NNGYN',
 'NNGNG',
 'NNGNY',
 'NNGNN',
 'NNYGG',
 'NNYGY',
 'NNYGN',
 'NNYYG',
 'NNYYY',
 'NNYYN',
 'NNYNG',
 'NNYNY',
 'NNYNN',
 'NNNGG',
 'NNNGY',
 'NNNGN',
 'NNNYG',
 'NNNYY',
 'NNNYN',
 'NNNNG',
 'NNNNY',
 'NNNNN']

In [148]:
def check_result_frequency(word, result):
    possibles = raw_wordle_words
    if result == 'GGGGG':
        return 1
    for letter in range(5):
        if result[letter] == "G":
            possibles = possibles[possibles["word"].str[letter] == word[letter]]
        elif result[letter] == "Y":
            possibles = possibles[possibles["word"].str.contains(word[letter])]
            possibles = possibles[possibles["word"].str[letter] != word[letter]]
        elif result[letter] == "N":
            possibles = possibles[~possibles["word"].str.contains(word[letter])]
    return len(possibles)

In [143]:
test_def = raw_wordle_words[raw_wordle_words["word"].str.contains("x")]
test_def

       word      count
39    index  242826246
112   texas  129399241
169   linux   90854231
243   extra   59377307
285   fixed   49215402
...     ...        ...
8499  sexor      15443
8555  prexy      14771
8604  ixora      14315
8664  hapax      13596
8701  muxes      13155

[181 rows x 2 columns]

In [115]:
pd.options.mode.copy_on_write = True

In [149]:
test_def["GNNNY"] = test_def["word"].apply(lambda w: check_result_frequency(w, "GNNNY"))
test_def

       word      count  GGGGY  GNNNY
39    index  242826246      0      1
112   texas  129399241      0     10
169   linux   90854231      0      1
243   extra   59377307      0     21
285   fixed   49215402      0     14
...     ...        ...    ...    ...
8499  sexor      15443      0     84
8555  prexy      14771      0      9
8604  ixora      14315      0     14
8664  hapax      13596      0      3
8701  muxes      13155      0     19

[181 rows x 4 columns]

In [150]:
possible_result = "YGNNY"
wordle_words[f"{possible_result} Count"] = wordle_words["word"].apply(lambda w: check_result_frequency(w, possible_result))
wordle_words

       word       count  YGNNY
0     about  1226734006      0
1     other   978481319      5
2     which   810514085     13
3     their   782849411      2
4     there   701170205      0
...     ...         ...    ...
8749  sevak       12751     26
8750  maist       12738      6
8751  hully       12736      0
8752  intil       12721      0
8753  toits       12716      0

[8754 rows x 3 columns]

In [151]:
possible_results_green_first = [x for x in possible_results if x[0] == "G"]
possible_results_yellow_first = [x for x in possible_results if x[0] == "Y"]
possible_results_grey_first = [x for x in possible_results if x[0] == "N"]
possible_results_grey_first

['GGGGG',
 'GGGGY',
 'GGGGN',
 'GGGYG',
 'GGGYY',
 'GGGYN',
 'GGGNG',
 'GGGNY',
 'GGGNN',
 'GGYGG',
 'GGYGY',
 'GGYGN',
 'GGYYG',
 'GGYYY',
 'GGYYN',
 'GGYNG',
 'GGYNY',
 'GGYNN',
 'GGNGG',
 'GGNGY',
 'GGNGN',
 'GGNYG',
 'GGNYY',
 'GGNYN',
 'GGNNG',
 'GGNNY',
 'GGNNN',
 'GYGGG',
 'GYGGY',
 'GYGGN',
 'GYGYG',
 'GYGYY',
 'GYGYN',
 'GYGNG',
 'GYGNY',
 'GYGNN',
 'GYYGG',
 'GYYGY',
 'GYYGN',
 'GYYYG',
 'GYYYY',
 'GYYYN',
 'GYYNG',
 'GYYNY',
 'GYYNN',
 'GYNGG',
 'GYNGY',
 'GYNGN',
 'GYNYG',
 'GYNYY',
 'GYNYN',
 'GYNNG',
 'GYNNY',
 'GYNNN',
 'GNGGG',
 'GNGGY',
 'GNGGN',
 'GNGYG',
 'GNGYY',
 'GNGYN',
 'GNGNG',
 'GNGNY',
 'GNGNN',
 'GNYGG',
 'GNYGY',
 'GNYGN',
 'GNYYG',
 'GNYYY',
 'GNYYN',
 'GNYNG',
 'GNYNY',
 'GNYNN',
 'GNNGG',
 'GNNGY',
 'GNNGN',
 'GNNYG',
 'GNNYY',
 'GNNYN',
 'GNNNG',
 'GNNNY',
 'GNNNN']

In [156]:
start_time_green = time.time()
loop_times_green = [start_time_green]
for possible_result in possible_results_green_first:
    loop_start_time = time.time()
    wordle_words[f"{possible_result} Count"] = wordle_words["word"].apply(lambda w: check_result_frequency(w, possible_result))
    loop_times_green.append(time.time())
    print("{0} Done in {1} seocnds".format(possible_result, time.time() - loop_start_time))
wordle_words

GGGGG Done in 0.002173185348510742 seocnds
GGGGY Done in 21.31107783317566 seocnds
GGGGN Done in 20.233394384384155 seocnds
GGGYG Done in 21.20927333831787 seocnds
GGGYY Done in 22.144046783447266 seocnds
GGGYN Done in 21.751273155212402 seocnds
GGGNG Done in 20.906415939331055 seocnds
GGGNY Done in 22.48348069190979 seocnds
GGGNN Done in 20.715919017791748 seocnds
GGYGG Done in 21.574707746505737 seocnds
GGYGY Done in 22.328078269958496 seocnds
GGYGN Done in 21.25932264328003 seocnds
GGYYG Done in 22.66486406326294 seocnds
GGYYY Done in 23.476866483688354 seocnds
GGYYN Done in 22.31703543663025 seocnds
GGYNG Done in 21.747320652008057 seocnds
GGYNY Done in 22.69351291656494 seocnds
GGYNN Done in 21.633272171020508 seocnds
GGNGG Done in 20.512914896011353 seocnds
GGNGY Done in 21.59239888191223 seocnds
GGNGN Done in 20.48126530647278 seocnds
GGNYG Done in 21.81172823905945 seocnds
GGNYY Done in 22.569366216659546 seocnds
GGNYN Done in 21.147577047348022 seocnds
GGNNG Done in 20.28799557685852 seocnds
GGNNY Done in 21.1322979927063 seocnds
GGNNN Done in 20.048905849456787 seocnds
GYGGG Done in 21.629989862442017 seocnds
GYGGY Done in 22.05810236930847 seocnds
GYGGN Done in 21.329340934753418 seocnds
GYGYG Done in 22.19412660598755 seocnds
GYGYY Done in 22.793171644210815 seocnds
GYGYN Done in 22.104271173477173 seocnds
GYGNG Done in 21.43475890159607 seocnds
GYGNY Done in 22.671936988830566 seocnds
GYGNN Done in 21.27189588546753 seocnds
GYYGG Done in 22.67344856262207 seocnds
GYYGY Done in 23.82897424697876 seocnds
GYYGN Done in 23.685786247253418 seocnds
GYYYG Done in 24.11520481109619 seocnds
GYYYY Done in 24.869298219680786 seocnds
GYYYN Done in 23.703113555908203 seocnds
GYYNG Done in 22.87687611579895 seocnds
GYYNY Done in 23.815605401992798 seocnds
GYYNN Done in 22.71720790863037 seocnds
GYNGG Done in 21.884222507476807 seocnds
GYNGY Done in 22.761008977890015 seocnds
GYNGN Done in 21.647862911224365 seocnds
GYNYG Done in 22.905884742736816 seocnds
GYNYY Done in 23.532419204711914 seocnds
GYNYN Done in 22.316441297531128 seocnds
GYNNG Done in 21.402077674865723 seocnds
GYNNY Done in 22.438305854797363 seocnds
GYNNN Done in 21.479546308517456 seocnds
GNGGG Done in 20.485249996185303 seocnds
GNGGY Done in 21.30648159980774 seocnds
GNGGN Done in 20.204169750213623 seocnds
GNGYG Done in 21.59468698501587 seocnds
GNGYY Done in 22.7932345867157 seocnds
GNGYN Done in 21.637598991394043 seocnds
GNGNG Done in 20.846665143966675 seocnds
GNGNY Done in 21.963374376296997 seocnds
GNGNN Done in 20.647095441818237 seocnds
GNYGG Done in 22.15362024307251 seocnds
GNYGY Done in 23.216643571853638 seocnds
GNYGN Done in 22.063581705093384 seocnds
GNYYG Done in 23.269209146499634 seocnds
GNYYY Done in 24.499784231185913 seocnds
GNYYN Done in 23.08921790122986 seocnds
GNYNG Done in 22.139543294906616 seocnds
GNYNY Done in 23.078375101089478 seocnds
GNYNN Done in 21.87925434112549 seocnds
GNNGG Done in 21.266268253326416 seocnds
GNNGY Done in 22.09948182106018 seocnds
GNNGN Done in 20.99701428413391 seocnds
GNNYG Done in 22.580378770828247 seocnds
GNNYY Done in 23.99270534515381 seocnds
GNNYN Done in 22.5130934715271 seocnds
GNNNG Done in 21.52417540550232 seocnds
GNNNY Done in 22.640695810317993 seocnds
GNNNN Done in 21.063818216323853 seocnds

,word,count,GGGGG Count,GGGGY Count,GGGGN Count,GGGYG Count,GGGYY Count,GGGYN Count,GGGNG Count,GGGNY Count,...,GNYNN Count,GNNGG Count,GNNGY Count,GNNGN Count,GNNYG Count,GNNYY Count,GNNYN Count,GNNNG Count,GNNNY Count,GNNNN Count
0,about,1226734006,1,0,0,0,0,0,1,0,...,46,0,1,13,3,3,20,21,45,219
1,other,978481319,1,0,0,0,0,0,0,0,...,2,9,2,17,0,7,25,3,13,29
2,which,810514085,1,0,0,0,0,0,1,14,...,48,0,0,2,0,0,2,0,0,131
3,their,782849411,1,0,1,0,0,0,1,2,...,90,1,6,21,0,18,48,7,58,114
4,there,701170205,1,1,0,0,2,0,3,7,...,0,0,0,7,0,0,83,0,0,183
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8749,sevak,12751,1,0,0,0,0,0,0,0,...,0,0,3,53,17,14,201,30,27,283
8750,maist,12738,1,0,0,0,0,5,0,0,...,55,0,0,11,0,19,58,3,23,78
8751,hully,12736,1,0,2,0,0,1,0,0,...,0,0,0,0,0,0,0,36,16,173
8752,intil,12721,1,0,0,1,0,3,0,0,...,0,0,0,0,4,15,24,0,0,0
8753,toits,12716,1,0,1,1,0,1,0,0,...,0,10,5,11,81,17,143,0,0,0

In [160]:
new_wordle_words = wordle_words.copy()
new_wordle_words

,word,count,GGGGG Count,GGGGY Count,GGGGN Count,GGGYG Count,GGGYY Count,GGGYN Count,GGGNG Count,GGGNY Count,...,GNYNN Count,GNNGG Count,GNNGY Count,GNNGN Count,GNNYG Count,GNNYY Count,GNNYN Count,GNNNG Count,GNNNY Count,GNNNN Count
0,about,1226734006,1,0,0,0,0,0,1,0,...,46,0,1,13,3,3,20,21,45,219
1,other,978481319,1,0,0,0,0,0,0,0,...,2,9,2,17,0,7,25,3,13,29
2,which,810514085,1,0,0,0,0,0,1,14,...,48,0,0,2,0,0,2,0,0,131
3,their,782849411,1,0,1,0,0,0,1,2,...,90,1,6,21,0,18,48,7,58,114
4,there,701170205,1,1,0,0,2,0,3,7,...,0,0,0,7,0,0,83,0,0,183
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8749,sevak,12751,1,0,0,0,0,0,0,0,...,0,0,3,53,17,14,201,30,27,283
8750,maist,12738,1,0,0,0,0,5,0,0,...,55,0,0,11,0,19,58,3,23,78
8751,hully,12736,1,0,2,0,0,1,0,0,...,0,0,0,0,0,0,0,36,16,173
8752,intil,12721,1,0,0,1,0,3,0,0,...,0,0,0,0,4,15,24,0,0,0
8753,toits,12716,1,0,1,1,0,1,0,0,...,0,10,5,11,81,17,143,0,0,0

In [161]:
start_time_yellow = time.time()
loop_times_yellow = [start_time_yellow]
for possible_result in possible_results_yellow_first:
    loop_start_time = time.time()
    new_wordle_words[f"{possible_result} Count"] = new_wordle_words["word"].apply(lambda w: check_result_frequency(w, possible_result))
    loop_times_yellow.append(time.time())
    print("{0} Done in {1} seocnds".format(possible_result, time.time() - loop_start_time))
new_wordle_words

YGGGG Done in 25.040953874588013 seocnds
YGGGY Done in 26.577564239501953 seocnds
YGGGN Done in 25.002235174179077 seocnds
YGGYG Done in 25.642749786376953 seocnds
YGGYY Done in 26.24705982208252 seocnds
YGGYN Done in 25.569934368133545 seocnds
YGGNG Done in 24.72138476371765 seocnds
YGGNY Done in 25.561912775039673 seocnds
YGGNN Done in 24.668962001800537 seocnds
YGYGG Done in 25.80697250366211 seocnds
YGYGY Done in 27.006673097610474 seocnds
YGYGN Done in 25.837079763412476 seocnds
YGYYG Done in 27.18345046043396 seocnds
YGYYY Done in 27.942431449890137 seocnds
YGYYN Done in 27.149927139282227 seocnds
YGYNG Done in 26.28493309020996 seocnds
YGYNY Done in 27.02285623550415 seocnds
YGYNN Done in 26.256884336471558 seocnds
YGNGG Done in 25.00782871246338 seocnds
YGNGY Done in 26.315922021865845 seocnds
YGNGN Done in 25.591569185256958 seocnds
YGNYG Done in 26.54827117919922 seocnds
YGNYY Done in 27.315062999725342 seocnds
YGNYN Done in 26.140836715698242 seocnds
YGNNG Done in 25.352678775787354 seocnds
YGNNY Done in 26.19920802116394 seocnds
YGNNN Done in 25.14031481742859 seocnds
YYGGG Done in 26.871781826019287 seocnds
YYGGY Done in 27.772154808044434 seocnds
YYGGN Done in 26.831645250320435 seocnds
YYGYG Done in 28.09887170791626 seocnds
YYGYY Done in 28.75097131729126 seocnds
YYGYN Done in 27.869715929031372 seocnds
YYGNG Done in 27.197439908981323 seocnds
YYGNY Done in 27.83650302886963 seocnds
YYGNN Done in 26.965759754180908 seocnds
YYYGG Done in 28.26696228981018 seocnds
YYYGY Done in 29.451971530914307 seocnds
YYYGN Done in 28.382465600967407 seocnds
YYYYG Done in 29.67768120765686 seocnds
YYYYY Done in 30.521354913711548 seocnds
YYYYN Done in 29.445648670196533 seocnds
YYYNG Done in 28.330775499343872 seocnds
YYYNY Done in 29.535547018051147 seocnds
YYYNN Done in 28.28047204017639 seocnds
YYNGG Done in 27.677055835723877 seocnds
YYNGY Done in 28.892656564712524 seocnds
YYNGN Done in 27.34359359741211 seocnds
YYNYG Done in 28.435097455978394 seocnds
YYNYY Done in 29.76231861114502 seocnds
YYNYN Done in 28.48924732208252 seocnds
YYNNG Done in 27.421263694763184 seocnds
YYNNY Done in 28.441504955291748 seocnds
YYNNN Done in 27.110883235931396 seocnds
YNGGG Done in 26.366689920425415 seocnds
YNGGY Done in 27.529956579208374 seocnds
YNGGN Done in 27.047537565231323 seocnds
YNGYG Done in 27.77719759941101 seocnds
YNGYY Done in 29.083630561828613 seocnds
YNGYN Done in 29.882257223129272 seocnds
YNGNG Done in 29.558549404144287 seocnds
YNGNY Done in 29.382270574569702 seocnds
YNGNN Done in 28.083183526992798 seocnds
YNYGG Done in 29.41956877708435 seocnds
YNYGY Done in 30.58154606819153 seocnds
YNYGN Done in 28.57941746711731 seocnds
YNYYG Done in 30.876102209091187 seocnds
YNYYY Done in 31.467079877853394 seocnds
YNYYN Done in 30.882670164108276 seocnds
YNYNG Done in 28.60166573524475 seocnds
YNYNY Done in 30.333515882492065 seocnds
YNYNN Done in 28.706505060195923 seocnds
YNNGG Done in 27.895578861236572 seocnds
YNNGY Done in 28.825136423110962 seocnds
YNNGN Done in 27.45792579650879 seocnds
YNNYG Done in 29.0214524269104 seocnds
YNNYY Done in 30.6151225566864 seocnds
YNNYN Done in 29.129114866256714 seocnds
YNNNG Done in 28.94647717475891 seocnds
YNNNY Done in 29.785502433776855 seocnds
YNNNN Done in 27.99846649169922 seocnds

,word,count,GGGGG Count,GGGGY Count,GGGGN Count,GGGYG Count,GGGYY Count,GGGYN Count,GGGNG Count,GGGNY Count,...,YNYNN Count,YNNGG Count,YNNGY Count,YNNGN Count,YNNYG Count,YNNYY Count,YNNYN Count,YNNNG Count,YNNNY Count,YNNNN Count
0,about,1226734006,1,0,0,0,0,0,1,0,...,306,6,7,28,19,25,163,91,454,1621
1,other,978481319,1,0,0,0,0,0,0,0,...,132,46,47,169,5,92,223,46,320,772
2,which,810514085,1,0,0,0,0,0,1,14,...,18,0,0,0,0,0,19,0,0,210
3,their,782849411,1,0,1,0,0,0,1,2,...,285,2,15,51,2,38,163,12,132,354
4,there,701170205,1,1,0,0,2,0,3,7,...,0,0,0,42,0,0,159,0,0,568
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8749,sevak,12751,1,0,0,0,0,0,0,0,...,12,0,13,109,1,50,481,5,115,719
8750,maist,12738,1,0,0,0,0,5,0,0,...,51,0,0,1,3,18,85,6,21,143
8751,hully,12736,1,0,2,0,0,1,0,0,...,0,0,0,0,0,0,0,23,24,568
8752,intil,12721,1,0,0,1,0,3,0,0,...,0,23,72,201,36,243,651,0,0,0
8753,toits,12716,1,0,1,1,0,1,0,0,...,0,133,43,121,54,148,255,0,0,0

In [163]:
new_new_wordle_words = new_wordle_words.copy()
new_new_wordle_words

,word,count,GGGGG Count,GGGGY Count,GGGGN Count,GGGYG Count,GGGYY Count,GGGYN Count,GGGNG Count,GGGNY Count,...,YNYNN Count,YNNGG Count,YNNGY Count,YNNGN Count,YNNYG Count,YNNYY Count,YNNYN Count,YNNNG Count,YNNNY Count,YNNNN Count
0,about,1226734006,1,0,0,0,0,0,1,0,...,306,6,7,28,19,25,163,91,454,1621
1,other,978481319,1,0,0,0,0,0,0,0,...,132,46,47,169,5,92,223,46,320,772
2,which,810514085,1,0,0,0,0,0,1,14,...,18,0,0,0,0,0,19,0,0,210
3,their,782849411,1,0,1,0,0,0,1,2,...,285,2,15,51,2,38,163,12,132,354
4,there,701170205,1,1,0,0,2,0,3,7,...,0,0,0,42,0,0,159,0,0,568
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8749,sevak,12751,1,0,0,0,0,0,0,0,...,12,0,13,109,1,50,481,5,115,719
8750,maist,12738,1,0,0,0,0,5,0,0,...,51,0,0,1,3,18,85,6,21,143
8751,hully,12736,1,0,2,0,0,1,0,0,...,0,0,0,0,0,0,0,23,24,568
8752,intil,12721,1,0,0,1,0,3,0,0,...,0,23,72,201,36,243,651,0,0,0
8753,toits,12716,1,0,1,1,0,1,0,0,...,0,133,43,121,54,148,255,0,0,0

In [164]:
start_time_grey = time.time()
loop_times_grey = [start_time_grey]
for possible_result in possible_results_grey_first:
    loop_start_time = time.time()
    new_new_wordle_words[f"{possible_result} Count"] = new_new_wordle_words["word"].apply(lambda w: check_result_frequency(w, possible_result))
    loop_times_grey.append(time.time())
    print("{0} Done in {1} seocnds".format(possible_result, time.time() - loop_start_time))
new_new_wordle_words

NGGGG Done in 29.745405435562134 seocnds
NGGGY Done in 32.265522956848145 seocnds
NGGGN Done in 31.8727023601532 seocnds
NGGYG Done in 32.52132439613342 seocnds
NGGYY Done in 33.19638109207153 seocnds
NGGYN Done in 31.812923908233643 seocnds
NGGNG Done in 30.60426902770996 seocnds
NGGNY Done in 32.6086483001709 seocnds
NGGNN Done in 31.27774143218994 seocnds
NGYGG Done in 32.769681453704834 seocnds
NGYGY Done in 33.97643995285034 seocnds
NGYGN Done in 33.20153045654297 seocnds
NGYYG Done in 33.95538949966431 seocnds
NGYYY Done in 34.62668585777283 seocnds
NGYYN Done in 33.66161489486694 seocnds
NGYNG Done in 32.784377574920654 seocnds
NGYNY Done in 33.903852701187134 seocnds
NGYNN Done in 32.9578959941864 seocnds
NGNGG Done in 32.18766808509827 seocnds
NGNGY Done in 33.00730013847351 seocnds
NGNGN Done in 31.561706066131592 seocnds
NGNYG Done in 33.56287670135498 seocnds
NGNYY Done in 35.199073791503906 seocnds
NGNYN Done in 33.053147077560425 seocnds
NGNNG Done in 32.02842950820923 seocnds
NGNNY Done in 33.88409233093262 seocnds
NGNNN Done in 32.219425201416016 seocnds
NYGGG Done in 35.61513352394104 seocnds
NYGGY Done in 36.27458572387695 seocnds
NYGGN Done in 34.86613416671753 seocnds
NYGYG Done in 36.315268993377686 seocnds
NYGYY Done in 37.414761543273926 seocnds
NYGYN Done in 36.24161624908447 seocnds
NYGNG Done in 35.15354323387146 seocnds
NYGNY Done in 36.28616547584534 seocnds
NYGNN Done in 35.381616830825806 seocnds
NYYGG Done in 37.39745545387268 seocnds
NYYGY Done in 38.646522760391235 seocnds
NYYGN Done in 37.77869415283203 seocnds
NYYYG Done in 39.29008889198303 seocnds
NYYYY Done in 40.221956729888916 seocnds
NYYYN Done in 39.28077483177185 seocnds
NYYNG Done in 37.89280033111572 seocnds
NYYNY Done in 38.98753905296326 seocnds
NYYNN Done in 37.79076385498047 seocnds
NYNGG Done in 36.78433036804199 seocnds
NYNGY Done in 38.02220940589905 seocnds
NYNGN Done in 36.500356674194336 seocnds
NYNYG Done in 38.433244466781616 seocnds
NYNYY Done in 39.640342473983765 seocnds
NYNYN Done in 38.3488883972168 seocnds
NYNNG Done in 37.608298778533936 seocnds
NYNNY Done in 39.27400493621826 seocnds
NYNNN Done in 37.71620798110962 seocnds
NNGGG Done in 36.718406677246094 seocnds
NNGGY Done in 37.538541316986084 seocnds
NNGGN Done in 36.22416424751282 seocnds
NNGYG Done in 37.9179904460907 seocnds
NNGYY Done in 38.772042751312256 seocnds
NNGYN Done in 38.09912991523743 seocnds
NNGNG Done in 38.24864172935486 seocnds
NNGNY Done in 39.3081738948822 seocnds
NNGNN Done in 37.123525619506836 seocnds
NNYGG Done in 41.28153038024902 seocnds
NNYGY Done in 42.31379175186157 seocnds
NNYGN Done in 40.35322093963623 seocnds
NNYYG Done in 45.06390309333801 seocnds
NNYYY Done in 44.73197650909424 seocnds
NNYYN Done in 42.49653673171997 seocnds
NNYNG Done in 41.76575255393982 seocnds
NNYNY Done in 42.83631944656372 seocnds
NNYNN Done in 41.33331918716431 seocnds
NNNGG Done in 42.03271532058716 seocnds
NNNGY Done in 43.2206346988678 seocnds
NNNGN Done in 41.4502158164978 seocnds
NNNYG Done in 45.46651315689087 seocnds
NNNYY Done in 47.12368631362915 seocnds
NNNYN Done in 45.31306171417236 seocnds
NNNNG Done in 44.59149718284607 seocnds
NNNNY Done in 48.22690725326538 seocnds
NNNNN Done in 44.29338717460632 seocnds

,word,count,GGGGG Count,GGGGY Count,GGGGN Count,GGGYG Count,GGGYY Count,GGGYN Count,GGGNG Count,GGGNY Count,...,NNYNN Count,NNNGG Count,NNNGY Count,NNNGN Count,NNNYG Count,NNNYY Count,NNNYN Count,NNNNG Count,NNNNY Count,NNNNN Count
0,about,1226734006,1,0,0,0,0,0,1,0,...,834,4,11,86,34,140,452,139,431,1347
1,other,978481319,1,0,0,0,0,0,0,0,...,267,213,166,511,25,422,714,46,534,1292
2,which,810514085,1,0,0,0,0,0,1,14,...,1289,0,0,128,0,0,656,0,0,4259
3,their,782849411,1,0,1,0,0,0,1,2,...,1081,9,82,203,17,166,535,69,619,1355
4,there,701170205,1,1,0,0,2,0,3,7,...,0,0,0,180,0,0,782,0,0,2093
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8749,sevak,12751,1,0,0,0,0,0,0,0,...,25,12,23,271,38,96,962,55,85,1034
8750,maist,12738,1,0,0,0,0,5,0,0,...,440,28,12,110,40,286,883,88,278,1093
8751,hully,12736,1,0,2,0,0,1,0,0,...,0,0,0,0,0,0,0,501,172,3943
8752,intil,12721,1,0,0,1,0,3,0,0,...,773,0,0,0,0,0,0,175,968,2517
8753,toits,12716,1,0,1,1,0,1,0,0,...,663,0,0,0,0,0,0,872,500,1634

In [165]:
new_new_wordle_words.to_csv('Word Data/counted_wordle_words.csv')